* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-family: "Roboto", sans-serif;
}
h3 {
  font-family: "East Sea Dokdo", cursive;
}
p {
  font-family: "Ubuntu", sans-serif;
}
/********** section are ***********/
.top-banner {
  background-image: url("images/top-bg.jpeg");
  height: 600px;
  background-repeat: no-repeat;
  margin-bottom: 100px;
  text-align: center;
}
.h1-padding {
  padding-top: 80px;
}

.big-content h1 {
  color: white;
  font-size: 60px;
  font-weight: 800;
}
.big-content h3 {
  color: white;
}
#p-white {
  color: white;
  margin-bottom: 100px;
}
.big-content a {
  text-decoration: none;
  background-image: linear-gradient(45deg, #ff0066 0%, #ff66ff 100%);
  color: white;
  padding: 10px 20px;
  font-weight: 800;
}

/**** end section area ***/

/***** start second banner *****/
.half-w {
  width: 45%;
  float: left;
  margin-left: 5%;
  padding-left: 25px;
  height: 300px;
  margin-bottom: 100px;
  display: inline-block;
}
.half-w a {
  text-decoration: none;
  padding: 10px 20px;
  color: white;
  font-weight: 800;
  background-image: linear-gradient(65deg, #ff0066 0%, #ff66ff 100%);
}
.half-w img {
  height: 300px;
}
.half-w p {
  color: black;
  margin-top: 40px;
  margin-bottom: 50px;
}
.half-w h1 {
  font-size: 50px;
  font-weight: 700;
}
.half-w img {
  width: 100%;
}
/***** end second banner *****/
/**** start food menu  *******/
.food-service {
  text-align: center;
  margin-bottom: 50px;
}
.food-service::after {
  content: "";
  clear: both;
  display: block;
}
.food-menu {
  width: 32%;

  float: left;
  margin-left: 1.33%;
  padding-left: 1%;
  margin-top: 50px;
}
.food-menu img {
  width: 100%;
  height: 300px;
  margin-bottom: 40px;
}

/**** end food menu  *******/

/**** Footer   *******/
.footer {
  background-color: black;
  color: white;
  padding: 15px 10px;
  text-align: center;
}
/**** Footer *******/
